# Series in Pandas

Start working with pandas and how initialize it

**Note:** So basically pandas is dictionary

In [1]:
import numpy as np
import pandas as pd

## List and dictionary

Here's the example how to create series:
+ Assign python array to default pandas series
+ Assign python array to defined array as series
+ Assign numpy array to default pandas series
+ Assign numpy array to defined array as series

In [2]:
labels = ['a','b','c']
my_list = [10, 20, 30]
d = {'a':10,'b':20,'c':30}
arr = np.array([10, 20, 30])

### Assign python array to default pandas series

Set my list array as list

In [3]:
pd.Series(data=my_list)

0    10
1    20
2    30
dtype: int64

### Assign python array to defined array as series (labels)

Set an array to be the other array label

In [4]:
pd.Series(data=my_list, index=labels)

a    10
b    20
c    30
dtype: int64

In [5]:
pd.Series(my_list, labels)

a    10
b    20
c    30
dtype: int64

### Assign numpy array to default pandas series

In [6]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int64

### Assign numpy array to defined array as series (labels)

In [7]:
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int64

### Convert dictionary to series

In [8]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

## Data in Series

How to operate the data series (ex: arithmatic)

In [9]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [10]:
# Series param
pd.Series([sum, print, len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [11]:
# How to use series and automatically assign data
ser1 = pd.Series([1,2,3,4], index = ['USA', 'Germany', 'USSR', 'Japan'])

ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [12]:
ser2 = pd.Series([1,2,5,4], index = ['USA', 'Germany', 'Italy', 'Japan'])

ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [13]:
ser1['USA']

1

In [14]:
ser1 + ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64