# Data Input and Output

Simple operation to read the data from CSV, XLSX and HTML.

In [1]:
import pandas as pd

/home/rohwid/PyEnvironment/work-3.8.11-all-packages/lib/python3.8/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

### CSV

In [2]:
df = pd.read_csv('input/example')

df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [3]:
df.to_csv('output/example', index = False)

### Excel

In [4]:
pd.read_excel('input/excel_sample.xlsx', sheet_name = 'Sheet1',  engine='openpyxl')

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [5]:
df.to_excel('output/excel_sample.xlsx', sheet_name = 'Sheet1')