In [3]:
import time
import pandas as pd

In [4]:
df = pd.read_csv('pandas_datasets/ner-2021617144225.txt', header=None, delim_whitespace=True)

In [5]:
df = df.iloc[: , 1:]
df

          1      2
0    Daftar      O
1   Profesi      O
2      Yang      O
3      Siap      O
4     Kerja      O
5      dari      O
6     Rumah      O
7     Versi      O
8      Anji  B-PER
9   JAKARTA      O
10        -      O
11     Anji  B-PER
12  membuat      O
13   daftar      O
14    orang      O
15     yang      O
16     siap      O
17  bekerja      O
18     dari      O
19    rumah      O
20        .      O
21       Di      O
22     mana      O
23     saat      O
24      ini      O
25        ,      O
26     para      O
27  pekerja      O
28   memang      O
29  diimbau      O
30    untuk      O

In [6]:
df.to_csv('output/ner-2021617144225.txt', index=None, header=None, sep='\t')