In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('input/raw_clean_header.txt', header=None, delim_whitespace=True)

In [3]:
df = df.iloc[0:25, :]
df

          0      1
0    Daftar      O
1   Profesi      O
2      Yang      O
3      Siap      O
4     Kerja      O
5      dari      O
6     Rumah      O
7     Versi      O
8      Anji  B-PER
9   JAKARTA      O
10        -      O
11     Anji  B-PER
12  membuat      O
13   daftar      O
14    orang      O
15     yang      O
16     siap      O
17  bekerja      O
18     dari      O
19    rumah      O
20        .      O
21       Di      O
22     mana      O
23     saat      O
24      ini      O

In [4]:
df.to_csv('output/raw_wo_header.txt', index=None, header=None, sep='\t')