In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('input/raw_encode.txt', header=None, delim_whitespace=True)

In [3]:
df

                                                   0
0  Daftar\tO\nProfesi\tO\nYang\tO\nSiap\tO\nKerja...
1  Di\tO\nmana\tO\nsaat\tO\nini\tO\n,\tO\npara\tO...
2  Lewat\tO\nakun\tO\nTwitter\tO\npribadinya\tO\n...
3  Pertama\tO\nadalah\tO\nkreator\tB-TITLE\nkonte...

In [4]:
df.iloc[:,0]

0    Daftar\tO\nProfesi\tO\nYang\tO\nSiap\tO\nKerja...
1    Di\tO\nmana\tO\nsaat\tO\nini\tO\n,\tO\npara\tO...
2    Lewat\tO\nakun\tO\nTwitter\tO\npribadinya\tO\n...
3    Pertama\tO\nadalah\tO\nkreator\tB-TITLE\nkonte...
Name: 0, dtype: object

In [5]:
for i, row in enumerate(df.iloc[:, 0]):
    df.iloc[i, 0] = row.encode().decode("unicode-escape")

In [6]:
df

                                                   0
0  Daftar\tO\nProfesi\tO\nYang\tO\nSiap\tO\nKerja...
1  Di\tO\nmana\tO\nsaat\tO\nini\tO\n,\tO\npara\tO...
2  Lewat\tO\nakun\tO\nTwitter\tO\npribadinya\tO\n...
3  Pertama\tO\nadalah\tO\nkreator\tB-TITLE\nkonte...

In [7]:
df.iloc[1,0]

'Di\tO\nmana\tO\nsaat\tO\nini\tO\n,\tO\npara\tO\npekerja\tO\nmemang\tO\ndiimbau\tO\nuntuk\tO\nbekerja\tB-EVENT\ndari\tI-EVENT\nrumah\tI-EVENT\nguna\tO\nmeminimalisasi\tB-EVENT\npenyebaran\tI-EVENT\nvirus\tO\ncorona\tO\n(\tO\nCovid\tO\n-\tO\n19\tO\n)\tO\ndi\tO\nperkantoran\tO\n.\tO\n'

In [8]:
df.to_csv('output/raw_encoded.txt', index=None, header=None)